body {
    background-image: url('/assests/imageFiles/WebBackgroundImg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    grid-template-areas: 
    'header header header'
    'leftChar middle rightChar'
    'foot foot foot' ;
    grid-template-rows: 10% 45% 35%;
    grid-template-columns: 33% 34% 33%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
#left-player {
    grid-area: leftChar;
    width: 220px;
    margin-left: 150px;
}
#rightCharImg{
    grid-area: leftChar;
    width: 75%;
    margin-top: 190px;
    
}
#leftCharImg {
    grid-area: rightChar;
    margin-top: 190px;
    width:100%;
}
#right-player {
    grid-area: rightChar;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    z-index: -1;
    margin-right: 150px;
}
#UI {
    grid-area: foot;
    margin-left: 50px;
    border: 3px solid black;
    margin-top: 120px;
    margin-right: 50px;
    height: 45%;
    background-color: burlywood;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
#statsatk,#statsdef {
    grid-area: foot;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 50%;
    line-height: .01;
    flex-direction: column;
    font-weight: bold;
}
#attackBtn {

    background-color: red;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding: 30px;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
}
#surrenderBtn {

    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 30px;
    padding: 30px;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 40px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);

}
#console {
    position: fixed;
    bottom: 190px;
    left: 400px;
    padding: 10px;
    font-size: 20px;
    border: 3px solid #ccc;;
    border-color: black;
    background-color: burlywood;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.75 ease-in-out;
  }